.expense-item{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(65, 64, 64, 0.438);
          position: relative;
          border-radius: 10px;
          font-size: 30px;    
          width: 70%;  
          border-radius: 12px;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.expense-item_description{
          display: flex;
          padding: 24px;
                
}
.expense-item__price{
          margin-left: 100px;
          background: cornflowerblue;
          padding: 10px;
          
          border-radius: 10px;
          border: 2px solid #fff;
          cursor: pointer;
}
.expense_name{
       color: #fff;
       font-weight: bold;
       padding: 10px;
       
}

